@tailwind base;
@tailwind components;
@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/Vazir/Vazir.woff');
}
@font-face {
    font-family: "BYekan";
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/BYekan/BYekan.woff');
}
@tailwind utilities;


/* .cart{
    @apply 
} */